.ContactUs .content {
  display: flex;
  flex-direction: row;
  height: 330px;
  border: solid 1px #e0e0e0;

  margin: 0;
  padding: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--font-dark);
}
.ContactUs .content .text {
  align-items: flex-start;
  padding: 28px 36px;

  flex: 1;
  display: flex;
  flex-direction: column;

  background-color: rgb(14, 57, 57);

  text-indent: 1in;
  font-size: larger;
  color: white;
}

.ContactUs {
  width: 100%;
  max-width: 100vw;
  min-height: 350px;
  margin: 40px 0;
}
h1 {
  text-indent: 1in;
  text-align: left;
}
.content a {
  display: inline;
  text-decoration: none;
  justify-content: center;

  color: azure;
}
.ContactUs .content .media img {
  transform: translateY(-2px);
  box-sizing: border-box;
  width: 500px;
  height: 330px;
  align-self: flex-start;

  margin: 0;
  padding: 0;

  background-color: rgb(14, 57, 57);
}
